<%- include('./partials/header') %>

<section id="show-page">
    <div>Screen Name: </div>
    <div><%= user.name %></div>
    <div>Google ID: </div>
    <div><%= user.googleId %></div>
    <div>Email: </div>
    <div><%= user.email %></div>
    <div>Profile Picture: </div>
    <div><%= user.avatar %></div>
    <div>About Me:</div>
    <div><%= user.aboutMe %></div>    
    <div>Musical Style: </div>
    <div><%= user.musicalStyle %></div>
    <div>Location: </div>
    <div><%= user.location %></div>
  </section>

<%- include('./partials/footer') %>