<%- include('../partials/header') %>


    <form id="editPost" action="/posts/<%= post._id %>?_method=PUT" method="POST">
        <label>Update Post:</label>
        <textarea name="content"><%= post.content %></textarea>
        <br>
        <button type="submit">Update Post</button>
    </form>
    <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete Post</button>
    </form>




<%- include('../partials/footer') %>