<%- include('../partials/header') %>

<form id="newPost" action="/posts" method="POST">
    <label>New Post:</label>
    <textarea name="content"></textarea>
    <br>
    <button type="submit">Post</button>
</form>

<section id="post">
      <% posts.forEach(function(p) { %>
          <div><img alt="avatar" src="<%= p.avatar %>" referrerpolicy="no-referrer" ><%= p.name %></div>
          <br><br>
          <div><%= p.content %></div>
          <a href="/posts/<%= p._id %>">View Comments</a>
        <% }); %>
</section>



<%- include('../partials/footer') %>