<%- include('../partials/header') %>

<form id="newPost" action="/posts" method="POST">
    <label>New Post:</label>
    <textarea name="content"></textarea>
    <button type="submit">Post</button>
</form>


<section id="post">
      <% posts.forEach(function(p) { %>
          <div class="user"><%= p.user.name %>&nbsp;&nbsp;<img alt="avatar" src="<%= p.user.avatar %>" referrerpolicy="no-referrer" ></div>
          <div class="vpost"><%= p.content %></div>
          <a href="/posts/<%= p._id %>" class="vp">View Post</a>
        <% }); %>
</section>



<%- include('../partials/footer') %>