<%- include('../partials/header') %>

<form id="song-stream-posts" action="/posts/<%= post._id %>" method="POST">
    <label>New Post:</label>
    <textarea name="content"></textarea>
    <button type="submit">Post</button>
</form>

<section id="post">
      <% posts.forEach(function(p) { %>
          <div><%= p.userAvatar %><%= p.userName %></div>
          <br><br>
          <div><%= p.content %></div>
          <a href="/posts/<%= p._id %>">View Comments</a>
        <% }); %>
</section>



<%- include('../partials/footer') %>