<%- include('../partials/header') %>
  <main>
    <div class="allContent">
      <div id="showGridLeft">
        <section id="showPost">
          <div class="user">
            <img class="showAvatar" alt="avatar" src="<%= post.user.avatar %>" referrerpolicy="no-referrer">
            <span>
              <%= post.user.name %>
            </span>
          </div>
          <div class="showContent">
            <span>
              <%= post.content %>
            </span>
          </div>
          <% if (user._id.equals(post.user._id)) { %>
            <a href="/posts/<%= post._id %>/edit" class="update">Update Post</a>
            <% } %>
        </section>
        <form id="add-comment-form" method="POST" action="/comments/<%= post._id %>">
          <label>New Comment:</label>
          <textarea name="content"></textarea>
          <input class="add" type="submit" value="Add Comment">
        </form>
      </div>
      <section id="comment">
        <% post.comments.forEach(function(c) { %>
          <div class="comments">
            <div class="user">
              <img class="showAvatar" alt="avatar" src="<%= post.user.avatar %>" referrerpolicy="no-referrer">
              <span>
                <%= post.user.name %>
              </span>
            </div>
            <span class="commentContent">
              <%= c.content %>
            </span>
            <% if (user._id.equals(c.user)) { %>
              <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
              </form>
              <% } %>
          </div>
          <% }); %>
      </section>
    </div>
  </main>
  <%- include('../partials/footer') %>