<%- include('../partials/header') %>

<section id="post">
  <div><%= post.user.name %><img alt="avatar" src="<%= post.user.avatar %>" referrerpolicy="no-referrer" >
  <br><br>
  <div><%= post.content %></div>
  <% if (user && user._id.equals(post.user)) { %>
    <a href="/posts/<%= post._id %>/edit">Update Post</a>
  <% } %>  
</section>

<br><br><h2>Comments</h2>
<% if (user) { %>
  <form id="add-comment-form" method="POST"
  action="/comments/<%= post._id %>">
  <label>New Comment:</label>
  <textarea name="content"></textarea>
    <input type="submit" value="Add Comment">
  </form>
<% }%>

<br><br><table>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
        <th>Comment</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% post.comments.forEach(function(c) { %>
        <tr>
          <td class="comment-user"><img alt="avatar" src="<%= post.user.avatar %>" referrerpolicy="no-referrer" ><%= post.user.name %></td>
          <td><%= c.createdAt.toLocaleDateString() %></td>
          <td><%= c.content %></td>
          <td>
            <% if (user && user._id.equals(c.user)) { %>
              <form id="editComment" action="/comments/<%= c._id %>/?_method=PUT" method="POST">
                <label>Update Comment:</label>
                <textarea name="content"><%= c.content %></textarea>
                <br>
                <button type="submit">Update Comment</button>
              </form>
              <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
              </form>
            <% } %>
          </td>
        </tr>
      <% }); %>


<%- include('../partials/footer') %>